.wrapper {
  background-color: rgb(31, 31, 31);

  height: 90vh;
  width: 100%;
  overscroll-behavior: contain;
}
.wrapper::before {
  content: "";
  position: absolute;
  height: 90vh;
  width: 100%;

  background: linear-gradient(#08406d, rgb(31, 31, 31));
  clip-path: circle(30% at 15% 10%);
}
/* .directions {
  /* height: 100%; 
} */
.leftt {
  height: 90vh;
  left: 0px;
  position: absolute;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-family: "Franklin Gothic Medium"; */
}

.rightt {
  height: 90vh;
  right: 0px;
  position: absolute;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image--holder {
  margin-right: 25px;
  margin-left: 40px;
  margin-top: 15px;
  margin-left: 15px;
  max-width: 80%;
  max-height: 100%;
}
.image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0px;
}
.container {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-auto-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.card {
  margin-top: 15%;
  vertical-align: middle;
  width: 600px;
  height: 355px;
  border-radius: 15px;
  transition: transform 500ms ease-out;
  overflow: hidden;
  color: #fff;
  padding: 5%;
  text-align: center;
  background-color: rgba(108, 108, 108, 0.2);
  backdrop-filter: blur(30px);
  border: rgba(69, 69, 69, 0.1);
}
.h5 {
  font-size: 25px;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.7);
}
.text {
  font-size: 17px;
  line-height: 1.9;
  color: rgb(255, 255, 255);
  text-transform: initial;
  margin-bottom: 20px;
}
.link {
  border: none;
  background-color: #fff;
  padding: 15px 50px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 15px;
}
.container .card::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  width: 60%;
  height: 100%;
  top: 0%;
  left: -125%;
  transform: skew(45deg);
  position: absolute;
  animation-direction: left;
  transition-duration: 500ms;
}

.container .card:hover {
  transform: translateY(-5%);
}

.container .card:hover::before {
  left: 150%;
}

.heading1 {
  position: relative;
  vertical-align: middle;
  text-align: center;
  margin-top: 10%;
  font-size: xxx-large;
  font-weight: 900;
  color: white;
}
.heading {
  /* position: relative;
  top: -40%;
  font-size: xxx-large;
  font-weight: 900;
  color: white; */
  display: none;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .heading1 {
    display: none;
  }
  .heading {
    display: contents;
    color: white;
    font-size: xx-large;
    margin-top: 10%;
    margin-bottom: 5%;
    font-weight: 900;
  }
  .wrapper::before {
    /* display: none; */
    background: linear-gradient(#08406d, rgb(31, 31, 31));
    clip-path: circle(20% at 8% 70%);
  }
  .leftt {
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    width: 100%;
    position: relative;
  }
  .rightt {
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    position: relative;
    width: 100%;
  }
  .image--holder {
    margin: auto;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
  }
  .card {
    margin: auto;
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 540px;
  }
}

/* .container {
  border-radius: 55px;
  border: 2px solid white;

  position: relative;
  width: 90%;
  height: 50%;
  display: grid;
}
.card {
  border-radius: 55px;
  border: 2px solid white;

  position: relative;
  width: 90%;
  height: 50%;
  display: grid;
}
.content {
  display: grid;
}
.h5 {
  margin-top: 4%;
  margin-bottom: 4%;
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
}
.text {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  color: white;
  font-size: 15px;
  margin-bottom: 8%;
  font-weight: normal;
  text-transform: none;
}
.link {
  font-weight: bolder;
  margin: auto;
  margin-bottom: 5%;
  /* text-align: center; */
/* border-radius: 5px;
  text-decoration: none;
  padding: 13px;
  background-color: white;
  display: inline-block;
} */
/* margin-left: 39%;
  margin-right: 39%; */

/* .link:hover {
  background-color: transparent;
  color: white;
  transition: all 0.3s ease-out;
} */
