.wrapper1 {
  background-color: rgb(31, 31, 31);

  height: 190vh;
  width: 100%;
  overscroll-behavior: contain;
}
.wrapper1::before {
  content: "";
  position: absolute;
  height: 190vh;
  width: 100%;

  background: linear-gradient(#08406d, rgb(31, 31, 31));
  clip-path: circle(20% at 2% 10%);
}
.wrapper1::after {
  content: "";
  position: absolute;
  height: 190vh;
  width: 100%;

  background: linear-gradient(#08406d, rgb(31, 31, 31));
  clip-path: circle(15% at 95% 35%);
}

.heading2 {
  top: 30px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  font-size: xxx-large;
  font-weight: 900;
  color: white;
  margin-bottom: 50px;
}
.heading3 {
  /* position: relative; */
  font-size: large;
  float: left;
  font-weight: 600;
}
.container1 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-auto-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.card1 {
  transition-duration: 700ms;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2.5%;
  vertical-align: middle;
  width: 1000px;
  height: 97px;
  border-radius: 15px;
  overflow: hidden;
  color: #fff;
  padding: 5%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border: rgba(255, 255, 255, 0.1);
}
.card1--active {
  transition-duration: 700ms;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2.5%;
  vertical-align: middle;
  width: 1000px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  color: #fff;
  padding: 5%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border: rgba(255, 255, 255, 0.1);
}
.text1 {
  /* transition-duration: 700ms; */

  display: none;
  margin-left: 10px;
  font-size: large;
  float: left;
  font-weight: 600;
}
.text1--active {
  display: none;
  margin-left: 10px;
  font-size: large;
  float: left;
  font-weight: 600;
}
.down-up {
  /* transform: rotate(180deg); */
  /* transition-duration: 700ms; */
  margin-left: 80%;
  width: 40px;
  height: 40px;
  float: right;
  /* transform: translate(-100%, 60%); */
}
.arrow-down {
  transition-duration: 700ms;
  width: 40px;
  height: 40px;
}
.arrow-up {
  transform: rotate(180deg);
  transition-duration: 700ms;
  width: 40px;
  height: 40px;
}
