.wrapper1 {
  background-color: rgb(31, 31, 31);
  overflow-x: hidden;
  height: 515vh;
  width: 100%;
  overscroll-behavior: inherit;
}
.wrapper1::before {
  overflow-x: hidden;
  content: "";
  position: absolute;
  height: 90vh;
  width: 100%;

  background: linear-gradient(#08406d, rgb(31, 31, 31));
  clip-path: circle(20% at 2% 58%);
}
/* .wrapper1::after {
  content: "";
  position: absolute;
  height: 90vh;
  width: 100%;

  background: linear-gradient(#08406d, rgb(31, 31, 31));
  clip-path: circle(15% at 95% 1%);
} */

.heading2 {
  top: 30px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  font-size: xx-large;
  font-weight: 800;
  color: #33a1fb;
  margin-bottom: 50px;
}
.heading3 {
  position: absolute;
  left: 20px;
  top: 30px;
  font-size: large;
  float: left;
  font-weight: 600;
}
.container1 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-auto-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.card1 {
  transition-duration: 700ms;
  position: relative;
  display: flex;
  /* align-items: center; */
  margin-top: 1.8%;
  /* vertical-align: middle; */
  width: 1000px;
  height: 60px;
  border-radius: 15px;
  overflow: hidden;
  color: #fff;
  padding: 5%;
  text-align: center;
  background-color: rgba(108, 108, 108, 0.2);
  backdrop-filter: blur(30px);
  border: rgba(108, 108, 108, 0.1);
}
.card1--active {
  transition-duration: 700ms;
  position: relative;
  /* display: flex; */
  /* align-items: center; */
  margin-top: 2.5%;
  /* vertical-align: middle; */
  width: 1000px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  color: #fff;
  padding: 5%;
  /* text-align: center; */
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border: rgba(255, 255, 255, 0.1);
}
.text1 {
  transition-duration: 700ms;
  display: none;
  margin-left: 10px;
  font-size: large;

  font-weight: 600;
}
.text1--active {
  transition-duration: 700ms;
  width: 800px;
  margin-top: 47px;
  margin-left: 10px;
  font-size: large;
  float: left;
  font-weight: 100;
}
.down-up {
  /* transform: rotate(180deg); */
  /* transition-duration: 700ms; */
  margin-left: 80%;
  width: 40px;
  height: 40px;
  float: right;
  /* transform: translate(-100%, 60%); */
}
.arrow-down {
  transition-duration: 700ms;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 30px;
}
.arrow-up {
  transform: rotate(180deg);
  transition-duration: 700ms;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.initial--questionnaire {
  margin-top: 100px;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
}
.middle-questionaire {
  justify-content: center;
}
.botun {
  color: white;
  /* margin-left: 75px; */
  font-family: "PT Sans", sans-serif;

  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}
.botun:hover {
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
}
.card2 {
  margin-bottom: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;

  height: 80%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    #083f6d6a
  );
}
.text2 {
  margin-left: 30px;
  vertical-align: middle;
  float: left;
  color: white;
  font-size: large;
  font-weight: 300;
}
.button-container {
  margin-bottom: 10px;
  width: 100%;
  align-self: center;
  /* margin-right: 100px; */
  vertical-align: middle;
}
.img--holder1 {
  /* transform: scale(1, 0.8); */
  opacity: 80%;
  max-width: 100%;
  max-height: 100%;
}
.img--holder2 {
  transform: rotate(180deg);
  opacity: 80%;

  max-width: 100%;
  max-height: 100%;
}
.arrow-image {
  max-height: 100%;
}
.heading4 {
  color: white;
  font-size: xx-large;
  font-weight: 550;
  margin-bottom: 20px;
}
.text-content {
  /* margin-bottom: 20px; */
  display: block;
}
/* .training--benefits {
  width: 100%;
  display: flex;
} */
.training--benefits {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 60px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box {
  position: relative;
  padding: 8px;
  text-align: center;
  width: 300px;
  height: 250px;
}

.card3 {
  padding: 8px;
  width: 100%;
  height: 95%;
  transition-duration: 700ms;
  position: relative;
  display: block;
  align-items: center;
  margin-top: 12%;
  /* vertical-align: middle; */

  border-radius: 15px;
  overflow: hidden;
  color: #fff;

  text-align: center;
  background-color: rgba(108, 108, 108, 0.2);
  backdrop-filter: blur(30px);
  border: rgba(108, 108, 108, 0.1);
}
.text-holder {
  text-align: center;
  text-transform: uppercase;
}
.icon-image {
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.p1 {
  color: #b1dcff;
  font-size: small;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
}
.holder-for-image {
  margin-top: 30px;
  align-items: center;
  text-align: center;
  height: min-content;
  width: min-content;
}
.app--img {
  transform: scale(0.7, 0.7);
  width: fit-content;
  block-size: fit-content;
}
.holder-for-text {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 80px;
}
.text5 {
  padding: 20px;
  color: white;
  font-size: larger;
  font-weight: 200;
}
.ver-box {
  margin-top: 20px;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-auto-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

.ver-card {
  transition-duration: 700ms;
  position: relative;
  display: block;
  /* align-items: center; */
  margin-top: 1.8%;
  /* vertical-align: middle; */
  width: 250px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  color: #fff;
  padding: 5%;
  text-align: center;
  /* background-color: rgba(108, 108, 108, 0.2); */
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.308),
    rgba(0, 34, 107, 0.808)
  );
  backdrop-filter: blur(30px);
  border: rgba(108, 108, 108, 0.1);
}
.ver-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.fitpro {
  font-size: large;
  margin-top: 6px;
  margin-bottom: 15px;
}
.plan-name {
  font-size: small;
  font-weight: 800;
  margin-bottom: 50px;
}

.plan-price {
  font-size: xx-large;
  font-weight: 800;
  margin-bottom: 8px;
}
.plan-time {
  font-size: small;
  margin-bottom: 40px;
}
/* @media only screen and (min-device-width: 370px) and (max-device-width: 409px) {
  .wrapper1 {
    height: 1290vh;
    box-sizing: border-box;
    max-width: 100%;
  }
}
@media only screen and (min-device-width: 410px) and (max-device-width: 480px) {
  .wrapper1 {
    height: 980vh;
    box-sizing: border-box;
    max-width: 100%;
  }
} */
@media screen and (max-width: 820px) {
  .wrapper1 {
    display: block;
    box-sizing: border-box;
    overflow: auto;
    /* height: 1290vh; */
    max-width: 100%;
  }
  .card1 {
    width: 350px;
  }
  .card1--active {
    width: 350px;
    height: 280px;
  }
  .text1--active {
    width: 300px;
    height: 700px;
  }
  .down-up {
    height: 35px;
  }
  .heading3 {
    top: 17px;
  }
  .arrow-down {
    top: 11px;
  }
  .img--holder2 {
    display: none;
  }
  .img--holder1 {
    display: none;
  }
  .card2 {
    width: 100%;
    height: 100%;
    display: block;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
  }
  .text-content {
    margin-bottom: 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .text5 {
    padding: 5%;
  }
  .initial--questionnaire {
    margin-bottom: 40px;
  }
  .heading4 {
    margin-top: 35px;
    margin-bottom: 0.1px;
    font-size: x-large;
    font-weight: 700;
  }
  .button-container {
    align-items: center;
    align-content: center;
    text-align: center;
  }
  .botun {
    color: white;
    /* margin-left: 75px; */
    font-family: "PT Sans", sans-serif;

    /* padding: 8px 20px; */
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .row {
    display: block;
  }
  .holder-for-image {
    align-self: center;
    width: 100%;
    float: none;
    margin: 0;
  }
}
